<div class="w-[90%] m-auto mt-9 gap-8 flex flex-col">
    <div>
        <h2 class="text-center text-fc2 font-bold text-2xl">Registra una Vaca</h2>
    </div>


    <form action="" class="flex flex-col gap-5">
        <div class="w-full flex flex-col gap-2">
            <h2 class="text-[#1F1F1F] text-base font-medium">Imagen</h1>
            <div class="flex gap-3 items-center bg-fc5 h-11 p-3 rounded-sm">
                <img src="Public/img/photo_camera_24dp_FILL0_wght400_GRAD0_opsz24.svg" class="h-fit ">
                <input type="" class="w-full bg-fc5 outline-none">
            </div>
        </div>    

        <div>
            <h2 class="text-[#1f1f1f] font-medium">Nombre</h1>
            <input type="" class="outline-none bg-fc5 w-full h-11 p-3 rounded-sm" placeholder="Introduce el nombre de la vaca">
        </div>

        <div>
            <h2 class="text-[#1f1f1f] font-medium">Fecha de registro</h1>
            <input type="" class="outline-none bg-fc5 w-full h-11 p-3 rounded-sm" placeholder="Selecciona la fecha">
        </div>

        <div>
            <h2 class="text-[#1f1f1f] font-medium">Ubicación</h1>
            <input type="" class="outline-none bg-fc5 w-full h-11 p-3 rounded-sm" placeholder="Introduce la ubicación">
        </div>

        <div>
            <h2 class="text-[#1f1f1f] font-medium">Peso</h1>
            <input type="" class="outline-none bg-fc5 w-full h-11 p-3 rounded-sm" placeholder="Introduce el peso en kg">
        </div>

        <div class="p-3 flex rounded-md justify-center bg-fc2 gap-2 items-center ">
            <img src="Public/img/add-white.svg" class="fill-black" >
            
            <button type="submit" class="text-fc1 text-center font-semibold">Registrar</button>
        </div>
    </form>

</div>


