<div class="w-[90%] m-auto mt-9 gap-8 flex flex-col">
    <div class="flex flex-col justify-center">
        <button class="material-symbols-outlined left-0-0 flex items-center absolute view-back">
            arrow_back_ios
        </button>
        <h2 class="text-center text-fc2 font-bold text-2xl">Registra una Vaca</h2>
    </div>

    <form id="cow-form" class="flex flex-col gap-5">
        <div class="w-full flex flex-col gap-2">
            <h2 class="text-[#1F1F1F] text-base font-medium">Imagen</h2>
            <div class="flex gap-3 items-center bg-fc5 h-11 p-3 rounded-sm">
                <img src="Public/img/photo_camera_24dp_FILL0_wght400_GRAD0_opsz24.svg" class="h-fit">
                <input type="file" accept="image/*" capture="environment" id="cow-image" class="static inset-0 w-full opacity-0 cursor-pointer">
            </div>
        </div>    

        <div>
            <h2 class="text-[#1f1f1f] font-medium">Nombre</h2>
            <input type="text" id="cow-name" class="outline-none bg-fc5 w-full h-11 p-3 rounded-sm" placeholder="Introduce el nombre de la vaca">
        </div>

        <div>
            <h2 class="text-[#1f1f1f] font-medium">Descripción</h2>
            <input type="text" id="cow-description" class="outline-none bg-fc5 w-full h-11 p-3 rounded-sm" placeholder="Descripción de la vaca">
        </div>

        <div>
            <h2 class="text-[#1f1f1f] font-medium">Ubicación</h2>
            <input type="text" id="cow-location" class="outline-none bg-fc5 w-full h-11 p-3 rounded-sm" placeholder="Introduce la ubicación" readonly>
        </div>

        <div>
            <h2 class="text-[#1f1f1f] font-medium">Peso</h2>
            <input type="number" id="cow-weight" class="outline-none bg-fc5 w-full h-11 p-3 rounded-sm" placeholder="Introduce el peso en kg">
        </div>

        <div>
            <h2 class="text-[#1f1f1f] font-medium mb-4">Capacidad reproductiva</h2>
            <div class="flex space-x-4 justify-around">
                <button type="button" id="active-capacity" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-400 focus:outline-none focus:ring-2 focus:ring-blue-300">Activa</button>
                <button type="button" id="inactive-capacity" class="bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300">No Activa</button>
            </div>
        </div>

        <button type="submit" class="w-full flex rounded-md justify-center bg-fc2 gap-2 items-center">
            <img src="Public/img/add-white.svg" class="fill-black">
            <p class="text-fc1 text-center font-semibold p-3 w-fit">Registrar</p>
        </button>
    </form>
</div>

<script>
    (function() {
    let reproductiveCapacity = '';

    document.querySelector('#active-capacity').addEventListener('click', function() {
        reproductiveCapacity = 'activa';
        this.classList.add('bg-blue-600');
        document.querySelector('#inactive-capacity').classList.remove('bg-blue-600');
    });

    document.querySelector('#inactive-capacity').addEventListener('click', function() {
        reproductiveCapacity = 'no activa';
        this.classList.add('bg-blue-600');
        document.querySelector('#active-capacity').classList.remove('bg-blue-600');
    });

    document.querySelector('#cow-location').addEventListener('click', function() {
        navigator.geolocation.getCurrentPosition(function(position) {
            const { latitude, longitude } = position.coords;
            document.querySelector('#cow-location').value = `${latitude}, ${longitude}`;
        }, function(error) {
            console.error('Error getting location:', error);
            Swal.fire({
                title: 'Error!',
                text: 'No se pudo obtener la ubicación.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        });
    });

    document.querySelector('#cow-form').addEventListener('submit', function(event) {
        event.preventDefault();

        const cowName = document.querySelector('#cow-name').value;
        const cowDescription = document.querySelector('#cow-description').value;
        const cowLocation = document.querySelector('#cow-location').value.split(', ');
        const cowWeight = document.querySelector('#cow-weight').value;
        const cowImage = document.querySelector('#cow-image').files[0];

        if (!cowName || !cowDescription || !cowLocation || !cowWeight || !reproductiveCapacity || !cowImage) {
            Swal.fire({
                title: 'Error!',
                text: 'Por favor, completa todos los campos.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
            return;
        }

        Swal.fire({
            title: 'Cargando...',
            text: 'Estamos subiendo los datos...',
            icon: 'info',
            allowOutsideClick: false,
            didOpen: () => {
                Swal.showLoading();
            }
        });

        const userId = firebase.auth().currentUser.uid;
        const storageRef = firebase.storage().ref();
        const cowImageRef = storageRef.child(`users/${userId}/cows/${cowImage.name}`);

        cowImageRef.put(cowImage).then((snapshot) => {
            console.log('Imagen subida:', snapshot);
            return snapshot.ref.getDownloadURL();
        }).then((downloadURL) => {
            console.log('URL de descarga de la imagen:', downloadURL);
            return firebase.firestore().collection('users').doc(userId).collection('cows').add({
                name: cowName,
                description: cowDescription,
                location: {
                    latitude: parseFloat(cowLocation[0]),
                    longitude: parseFloat(cowLocation[1])
                },
                weight: parseFloat(cowWeight),
                reproductive_capacity: reproductiveCapacity,
                image_url: downloadURL,
                createdAt: firebase.firestore.FieldValue.serverTimestamp()
            });
        }).then(() => {
            Swal.fire({
                title: 'Éxito!',
                text: 'Vaca registrada exitosamente',
                icon: 'success',
                confirmButtonText: 'OK'
            }).then(() => {
                Swal.close();
                loadPartialView('ganado', document.querySelector('.init'), false);
            });
        }).catch((error) => {
            console.error('Error al registrar la vaca:', error);
            Swal.fire({
                title: 'Error!',
                text: 'Hubo un error al registrar la vaca.',
                icon: 'error',
                confirmButtonText: 'OK'
            });
        });
    });

    document.querySelector('.view-back').addEventListener('click', function() {
        loadPartialView('ganado', document.querySelector('.init'), false);
    });
})();
</script>
