<link rel="stylesheet" href="/www/Public/css/tailstyle.css">

<div class="gap-4 flex flex-col">

<div class="mt-9 gap-3 flex flex-col">
    <h2 class="text-fc2 font-bold text-3xl text-center">VacaSmart</h2>
    <div class="w-11/12 m-auto">
        <img class="rounded-md" src="Public/img/dieny-portinanni-gvIb47vLry0-unsplash.jpg" alt="">
    </div>
</div>

<div class="flex justify-start ml-3">
    <h2 class="text-fc2 font-bold text-2xl">Crear cuenta</h2>
</div>

<form class="w-3/4 m-auto flex flex-col gap-5">
    <div class="gap-8 flex flex-col">
        <div class="gap-1 flex flex-col">
            <p class="text-sm font-medium">Correo Electrónico</p>
            <input class="text-fc4 p-3 w-full bg-fc5 text-sm rounded-md outline-none" type="email" name="" id="" placeholder="Introduce tu correo electrónico">
        </div>
    
        <div>
            <p class="text-sm font-medium">Contraseña</p>
            <input class="text-fc4 p-3 w-full bg-fc5 text-sm rounded-md outline-none" type="password" name="" id="" placeholder="Introduce tu contraseña">
        </div>
    </div>

    <div class="flex flex-col gap-4">
        <div class="p-3 flex rounded-md justify-center bg-fc2 ">
            <button type="submit" class="text-fc1 text-center font-semibold">
                Crear Cuenta
            </button>
        </div>
        <div class="flex gap-1 justify-center">
            <p class="text-sm text-fc4 font-normal">Ya tienes una cuenta?</p>
            <button class="text-sm text-fc2 font-medium">Inicia sesión</button>
        </div>
    </div>
</form>

</div>
