<div class="w-[90%] m-auto mt-9 gap-5 flex flex-col">
    <div>
        <h2 class="text-center text-fc2 font-bold text-2xl">VacaSmart</h2>
    </div>

    <div class="flex bg-fc5 w-full p-2 rounded-md gap-2">
        <img src="Public/img/search_24dp_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        <input class="bg-fc5 outline-none" type="text" name="" id="" placeholder="Buscar Vaca">
    </div>

    <div class="flex w-full p-2 rounded-md border-2 border-fc2 items-center justify-center gap-2" >
        <img src="Public/img/add_24dp_FILL0_wght400_GRAD0_opsz24.svg"  alt="">
        <button class="text-fc2 font-semibold">Registrar nueva</button>
    </div>

    <div class="flex flex-col gap-4 w-full m-auto">
        <div class="flex gap-4 bg-[#F9FAFB] p-4 rounded-md">
            <div class="w-28 flex items-center">
                <img class="rounded-md" src="Public/img/Proceso-De-Alimentación-De-La-Vaca-Y-4-Tipos-De-Alimentos-PortalBraford-.jpg" alt="">
            </div>
        
            <div class="flex flex-col gap-3">
                <div>
                    <h2 class="font-bold">Vaca 001</h2>
                    <p class="text-sm text-[#999999]">Reynosa</p>
                </div>
                <div>
                    <button class="py-2 px-5 bg-fc2 rounded-md text-sm text-fc1">Detalles</button>
                </div>
            </div>
        </div>

        <div class="flex gap-4 bg-[#F9FAFB] p-4 rounded-md">
            <div class="w-28 flex items-center">
                <img class="rounded-md" src="Public/img/Proceso-De-Alimentación-De-La-Vaca-Y-4-Tipos-De-Alimentos-PortalBraford-.jpg" alt="">
            </div>
        
            <div class="flex flex-col gap-3">
                <div>
                    <h2 class="font-bold">Vaca 001</h2>
                    <p class="text-sm text-[#999999]">Reynosa</p>
                </div>
                <div>
                    <button class="py-2 px-5 bg-fc2 rounded-md text-sm text-fc1">Detalles</button>
                </div>
            </div>
        </div>

        <div class="flex gap-4 bg-[#F9FAFB] p-4 rounded-md">
            <div class="w-28 flex items-center">
                <img class="rounded-md" src="Public/img/Proceso-De-Alimentación-De-La-Vaca-Y-4-Tipos-De-Alimentos-PortalBraford-.jpg" alt="">
            </div>
        
            <div class="flex flex-col gap-3">
                <div>
                    <h2 class="font-bold">Vaca 001</h2>
                    <p class="text-sm text-[#999999]">Reynosa</p>
                </div>
                <div>
                    <button class="py-2 px-5 bg-fc2 rounded-md text-sm text-fc1">Detalles</button>
                </div>
            </div>
        </div>



    </div>

</div>


